h4.align-right {
  margin-left: 50px;
  text-align: right;
}

h5.agenda {
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #202020;
}

h5.agenda-small {
  font-weight: 300;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #202020;
}

.see-more-resumo {
  font-weight: 300;
  font-size: 13px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 10px;
}

.see-more {
  font-weight: 400;
  font-size: 12px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-decoration: underline;
}

.text-link {
  text-decoration: underline;
  color: var(--blue);
}
