:root {
  --yellow: #F4B303;
  --blue: #608097;
  --black: #000000;
  --white: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: Jennifer;
  src: url(data/song_jennifer.ttf);
  font-weight: bold;
}

h2 {
  font-weight: 300;
  font-size: 22px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #202020;
}

h3 {
  font-weight: 300;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-bottom: 5px;
  color: #202020;
}

h4 {
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 5px 0px;
  color: #202020;
}

p {
  font-weight: 300;
  font-size: 15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: relative;
  top: -5px;
  margin: 0px;
  color: #202020;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

ul hr {
  border-top: 1px solid #ECE7E7;
  border-bottom: 0px;
}

ul li:last-child hr{
  display: none;
}

li {
  margin: 20px 0px;
}

